<!DOCTYPE html>
<html data-theme="synthwave">
  <head>
    <title>TMJJ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div data-controller="flash" data-flash-timeout-value="5000">
      <p class="notice w-full text-center text-accent text-xl font-bold" data-flash-target="notice"><%= notice %></p>
      <p class="alert w-full text-center text-accent text-xl font-bold" data-flash-target="alert"><%= alert %></p>
    </div>
    <main class='min-h-screen p-11'>
      <%= yield %>
    </main>
    <footer class="p-10 footer bg-base-300 text-base-content footer-center">
      <div>
        <p class="text-sm">
          &copy; 2024 tmjj. All rights reserved.
        </p>
        <p class="text-xs">
          Built with love by the tmjj team.
        </p>
      </div>
    </footer>
  </body>
</html>
